<div class="container">
  <div class="jumbotron">
    <%= simple_form_for @contact, html: { class: 'form-horizontal' }, url: contact_path do |message_form| %>
      <fieldset>
        <div class="field" align="center">
          <%= message_form.input :name, placeholder: "Name" %>
        </div>
        
        <div class="field" align="center">
          <%= message_form.input :email, placeholder: "Email"%>
        </div>
        
        <div class="field" align="center">
          <%= message_form.input :content, placeholder: "Message"%>
        </div>
      </fieldset>
      
      <fieldset>
        <div class="field" align="center">
          <%= message_form.submit "Send", class: "btn btn-default btn-sm" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
